; Use hoisted packages for Next.js standalone build https://pnpm.io/npmrc#node-linker
; - Solves missing Next.js standalone build dependencies https://github.com/vercel/next.js/issues/48017
; - Solves Next.js standalone build breaking pnpm monorepo dependencies https://github.com/vercel/next.js/issues/65636
; - Solves Turborepo error writing to cache https://github.com/vercel/turbo/issues/6823
node-linker=hoisted