# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin
/tmp

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project binaries
cmd/server/server

# Don't commit the environment variables that are in use
.env