openapi: 3.0.3
info:
  title: profile-api
  license:
    name: MIT
    url: https://github.com/tadoku/tadoku/blob/main/LICENSE
  version: 1.0.0
externalDocs:
  description: Find out more about Tadoku
  url: https://tadoku.github.io/tadoku/
servers:
  - url: https://tadoku.app/api/profile/
paths:
  /ping:
    get:
      summary: Checks if service is responsive
      operationId: ping
      tags: [metadata]
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
  /users:
    get:
      summary: Lists all users (admin only)
      operationId: usersList
      tags: [admin]
      security:
        - cookieAuth: []
      parameters:
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Fuzzy search on display name and email
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "401":
          description: unauthorized
        "403":
          description: forbidden (not admin)
components:
  schemas:
    UserList:
      type: object
      required:
        - users
        - total_size
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/UserListEntry"
        total_size:
          type: integer
    UserListEntry:
      type: object
      required:
        - id
        - display_name
        - email
        - created_at
      properties:
        id:
          type: string
        display_name:
          type: string
        email:
          type: string
        created_at:
          type: string
        role:
          type: string
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session
