openapi: 3.0.3
info:
  title: content-api
  license:
    name: MIT
    url: https://github.com/tadoku/tadoku/blob/main/LICENSE
  version: 1.0.0
externalDocs:
  description: Find out more about Tadoku
  url: https://tadoku.github.io/tadoku/
servers:
  - url: https://tadoku.app/api/content/
paths:
  /pages/{namespace}/{slug}:
    get:
      summary: Returns page content for a given slug
      operationId: pageFindBySlug
      tags: [pages]
      parameters:
        - name: slug
          in: path
          description: Slug of page to return
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'    
        '404':
          description: Page not found or not published
  /pages/{namespace}/{id}:
    put:
      summary: Updates an existing page
      operationId: pageUpdate
      tags: [pages]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of page
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Invalid page
        '404':
          description: Page does not exist and cannot be updated
    delete:
      summary: Deletes an existing page
      operationId: pageDelete
      tags: [pages]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of page
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Page not found
  /pages/{namespace}:
    post:
      summary: Creates a new page
      operationId: pageCreate
      tags: [pages]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Invalid page
    get:
      summary: lists all pages
      operationId: pageList
      tags: [pages]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: include_drafts
          in: query
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pages'
  /pages/{namespace}/{id}/versions:
    get:
      summary: Lists all versions of a page
      operationId: pageVersionList
      tags: [pages]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of page
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersions'
        '403':
          description: Not allowed
        '404':
          description: Page not found
  /pages/{namespace}/{id}/versions/{contentId}:
    get:
      summary: Gets a specific version of a page
      operationId: pageVersionGet
      tags: [pages]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of page
          required: true
          schema:
            type: string
        - name: contentId
          in: path
          description: Content ID of the version
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersion'
        '403':
          description: Not allowed
        '404':
          description: Page or version not found
  /posts/{namespace}/{slug}:
    get:
      summary: Returns page content for a given slug
      operationId: postFindBySlug
      tags: [posts]
      parameters:
        - name: slug
          in: path
          description: Slug of post to return
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'    
        '404':
          description: Post not found or not published
  /posts/{namespace}/{id}:
    put:
      summary: Updates an existing post
      operationId: postUpdate
      tags: [posts]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      parameters:
        - name: id
          in: path
          description: ID of post
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid post
        '404':
          description: Post does not exist and cannot be updated
    delete:
      summary: Deletes an existing post
      operationId: postDelete
      tags: [posts]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          description: ID of post
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Post not found
  /posts/{namespace}:
    post:
      summary: Creates a new post
      operationId: postCreate
      tags: [posts]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid post
    get:
      summary: lists all posts
      operationId: postList
      tags: [posts]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: include_drafts
          in: query
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Posts'
  /posts/{namespace}/{id}/versions:
    get:
      summary: Lists all versions of a post
      operationId: postVersionList
      tags: [posts]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of post
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostVersions'
        '403':
          description: Not allowed
        '404':
          description: Post not found
  /posts/{namespace}/{id}/versions/{contentId}:
    get:
      summary: Gets a specific version of a post
      operationId: postVersionGet
      tags: [posts]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of post
          required: true
          schema:
            type: string
        - name: contentId
          in: path
          description: Content ID of the version
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostVersion'
        '403':
          description: Not allowed
        '404':
          description: Post or version not found
  /announcements/{namespace}/active:
    get:
      summary: Lists currently active announcements
      operationId: announcementListActive
      tags: [announcements]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcements'
  /announcements/{namespace}:
    post:
      summary: Creates a new announcement
      operationId: announcementCreate
      tags: [announcements]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '400':
          description: Invalid announcement
    get:
      summary: Lists all announcements
      operationId: announcementList
      tags: [announcements]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementList'
  /announcements/{namespace}/{id}:
    get:
      summary: Gets an announcement by ID
      operationId: announcementFindByID
      tags: [announcements]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of announcement
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '403':
          description: Not allowed
        '404':
          description: Announcement not found
    put:
      summary: Updates an existing announcement
      operationId: announcementUpdate
      tags: [announcements]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of announcement
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '400':
          description: Invalid announcement
        '404':
          description: Announcement does not exist and cannot be updated
    delete:
      summary: Deletes an existing announcement
      operationId: announcementDelete
      tags: [announcements]
      security:
        - cookieAuth: []
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of announcement
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Announcement not found
  /ping:
    get:
      summary: Checks if service is responsive
      operationId: ping
      tags: [metadata]
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    Page:
      type: object
      required:
        - slug
        - title
      properties:
        id:
          type: string
          format: uuid
          example: d7e82f70-f7b9-4952-8258-1e4d16f0c244
        slug:
          type: string
          example: welcome-to-tadoku
        title:
          type: string
          example: Welcome to Tadoku!
        html:
          type: string
          example: <p>Example page!</p>
        published_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        created_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        updated_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
    Pages:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - type: object
          required:
            - pages
          properties:
            pages:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/Page"
    Post:
      type: object
      required:
        - slug
        - title
        - content
      properties:
        id:
          type: string
          format: uuid
          example: d7e82f70-f7b9-4952-8258-1e4d16f0c244
        namespace:
          type: string
          example: tadoku
        slug:
          type: string
          example: welcome-to-tadoku
        title:
          type: string
          example: Welcome to Tadoku!
        content:
          type: string
          format: markdown
          example: This an example **with markdown**.
        published_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        created_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        updated_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
    Posts:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - type: object
          required:
            - posts
          properties:
            posts:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/Post"
    PageVersion:
      type: object
      required:
        - id
        - version
        - title
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Content ID of this version
        version:
          type: integer
          example: 1
          description: Version number (starting at 1)
        title:
          type: string
        html:
          type: string
        created_at:
          type: string
          format: date-time
    PageVersions:
      type: object
      required:
        - versions
      properties:
        versions:
          type: array
          items:
            $ref: '#/components/schemas/PageVersion'
    PostVersion:
      type: object
      required:
        - id
        - version
        - title
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Content ID of this version
        version:
          type: integer
          example: 1
          description: Version number (starting at 1)
        title:
          type: string
        content:
          type: string
        created_at:
          type: string
          format: date-time
    PostVersions:
      type: object
      required:
        - versions
      properties:
        versions:
          type: array
          items:
            $ref: '#/components/schemas/PostVersion'
    Announcement:
      type: object
      required:
        - title
        - content
        - style
        - starts_at
        - ends_at
      properties:
        id:
          type: string
          format: uuid
          example: d7e82f70-f7b9-4952-8258-1e4d16f0c244
        namespace:
          type: string
          example: tadoku
        title:
          type: string
          example: Scheduled Maintenance
        content:
          type: string
          format: markdown
          example: The site will be down for maintenance on **Friday**.
        style:
          type: string
          enum: [success, warning, error, info]
          example: warning
        href:
          type: string
          nullable: true
          example: https://tadoku.app/blog/posts/maintenance
        starts_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        ends_at:
          type: string
          format: date-time
          example: 2022-12-15T19:48:00Z
        created_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        updated_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
    Announcements:
      type: object
      required:
        - announcements
      properties:
        announcements:
          type: array
          items:
            $ref: "#/components/schemas/Announcement"
    AnnouncementList:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - type: object
          required:
            - announcements
          properties:
            announcements:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/Announcement"
    PaginatedList:
      type: object
      required:
        - next_page_token
        - total_size
      properties:
        total_size:
          type: integer
          example: 100
        next_page_token:
          type: string
          description: is empty if there's no next page
          example: "3"
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session