oathkeeper:
  config:
    log:
      level: debug
      format: json
      leak_sensitive_values: true

    serve:
      proxy:
        cors:
          enabled: true
          allowed_origins:
            - http://langlog.be
            - http://account.langlog.be
            - http://admin.langlog.be
          allowed_methods:
            - POST
            - GET
            - PUT
            - PATCH
            - DELETE
          allowed_headers:
            - Authorization
            - Content-Type
          exposed_headers:
            - Content-Type
          allow_credentials: true
          debug: true

    errors:
      fallback:
        - json

      handlers:
        redirect:
          enabled: true
          config:
            to: http://account.langlog.be/
            when:
              -
                error:
                  - unauthorized
                  - forbidden
                request:
                  header:
                    accept:
                      - text/html
        json:
          enabled: true
          config:
            verbose: true

    access_rules:
      matching_strategy: glob

    authenticators:
      anonymous:
        enabled: true
        config:
          subject: guest

      cookie_session:
        enabled: true
        config:
          check_session_url: http://kratos-public/sessions/whoami
          preserve_path: true
          extra_from: "@this"
          subject_from: "identity.id"
          only:
            - ory_kratos_session

      noop:
        enabled: true

    authorizers:
      allow:
        enabled: true

    mutators:
      noop:
        enabled: true

      id_token:
        enabled: true
        config:
          issuer_url: http://oathkeeper-api/
          jwks_url: file:///etc/secrets/oathkeeper/jwks.json
          claims: |
            {
              "session": {{ .Extra | toJson }}
            }

deployment:
  extraVolumes:
    - name: jwks
      secret:
        secretName: oathkeeper-jwks
  extraVolumeMounts:
    - name: jwks
      mountPath: /etc/secrets/oathkeeper
      readOnly: true
