openapi: 3.0.3
info:
  title: immersion-api
  license:
    name: MIT
    url: https://github.com/tadoku/tadoku/blob/main/LICENSE
  version: 1.0.0
externalDocs:
  description: Find out more about Tadoku
  url: https://tadoku.github.io/tadoku/
servers:
  - url: https://tadoku.app/api/immersion/
paths:
  /contests:
    post:
      summary: Creates a new contest
      operationId: contestCreate
      tags: [contests]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contest'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contest'
        '400':
          description: Invalid contest
        '403':
          description: Not allowed to create this contest
    get:
      summary: Lists all the contests, paginated
      operationId: contestList
      tags: [contests]
      parameters:
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: include_deleted
          in: query
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
        - name: official
          in: query
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
        - name: user_id
          in: query
          required: false
          allowEmptyValue: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contests'
  /contests/{id}:
    get:
      summary: Fetches a contest by id
      operationId: contestFindByID
      tags: [contests]
      parameters:
        - name: id
          in: path
          description: ID of contest to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestView'
        '404':
          description: not found
  /contests/{id}/registration:
    get:
      summary: Fetches a contest registration if it exists
      operationId: contestFindRegistration
      tags: [contests]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestRegistration'
        '404':
          description: not found
  /contests/configuration-options:
    get:
      summary: Fetches the configuration options for a new contest
      operationId: contestGetConfigurations
      tags: [contests]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestConfigurationOptions'
  /ping:
    get:
      summary: Checks if service is responsive
      operationId: ping
      tags: [metadata]
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    ContestConfigurationOptions:
      allOf:
        - $ref: "#/components/schemas/Languages"
        - $ref: "#/components/schemas/Activities"
        - type: object
          required:
            - can_create_official_round
          properties:
            can_create_official_round:
              type: boolean
    Language:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          example: jpa
          description: In ISO-639-3 https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Languages/List_of_ISO_639-3_language_codes_(2019)
        name:
          type: string
          example: Japanese
    Languages:
      type: object
      required:
        - languages
      properties:
        languages:
          type: array
          items:
            $ref: "#/components/schemas/Language"
    Activity:
      type: object
      required:
        - id
        - name
      properties:
        id:
          format: int32
          type: integer
          example: 1
        name:
          type: string
          example: Reading
        default:
          type: boolean
    Activities:
      type: object
      required:
        - activities
      properties:
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
    ContestBase:
      type: object
      required:
        - contest_start
        - contest_end
        - registration_end
        - description
        - private
        - official
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
          example: 2023 Round 1
        contest_start:
          type: string
          format: date
        contest_end:
          type: string
          format: date
        registration_end:
          type: string
          format: date
        private:
          type: boolean
        official:
          type: boolean
          example: false
        owner_user_id:
          type: string
          format: uuid
        owner_user_display_name:
          type: string
          example: "john"
        created_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        updated_at:
          type: string
          format: date-time
          example: 2022-12-14T19:48:00Z
        deleted:
          type: boolean
    Contest:
      allOf:
        - $ref: '#/components/schemas/ContestBase'
        - type: object
          required:
            - language_code_allow_list
            - activity_type_id_allow_list
          properties:
            language_code_allow_list:
              type: array
              items:
                type: string
              example: ['jpa', 'zho', 'kor']
            activity_type_id_allow_list:
              type: array
              items:
                type: integer
                format: int32
              example: [1, 2]
    ContestView:
      allOf:
        - $ref: '#/components/schemas/ContestBase'
        - type: object
          required:
            - allowed_languages
            - allowed_activities
          properties:
            allowed_languages:
              type: array
              items:
                $ref: "#/components/schemas/Language"
            allowed_activities:
              type: array
              items:
                $ref: "#/components/schemas/Activity"
    Contests:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - type: object
          required:
            - contests
          properties:
            contests:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/Contest"
    ContestRegistration:
      type: object
      required:
        - contest_id
        - user_id
        - user_display_name
        - languages
      properties:
        id:
          type: string
          format: uuid
        contest_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        user_display_name:
          type: string
          example: "john"
        languages:
          type: array
          items:
            $ref: "#/components/schemas/Language"
    PaginatedList:
      type: object
      required:
        - next_page_token
        - total_size
      properties:
        total_size:
          type: integer
          example: 100
        next_page_token:
          type: string
          description: is empty if there's no next page
          example: "3"
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session