name: build-bazel
on:
  schedule:
    # monthly at 5th of every month
    - cron: "0 0 5 * *"

  workflow_dispatch:
  push:
    paths:
      - "services/**"
      - "BUILD.bazel"
      - ".bazelversion"
      - ".bazelrc"
      - "MODULE.bazel"
      - "MODULE.bazel.lock"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/build-bazel.yaml"
      - "!frontend/**"
jobs:
  build:
    name: Build Tadoku
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel-v4

      - name: Build
        run: bazel build //...

      - name: Run tests
        run: bazel test //...

  publish:
    name: Publish Tadoku Images
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel-v4

      - name: Push images
        run: |
          # Setup credentials for GitHub packages
          mkdir /tmp/docker
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u tadoku --password-stdin
          cp /home/runner/.docker/config.json /tmp/docker/config.json

          # Push images
          bazel run //services/content-api:push
          bazel run //services/immersion-api:push
          bazel run //services/profile-api:push
