name: build-bazel
on:
  push:
    paths:
      - "services/**"
      - "BUILD"
      - "go_third_party.bzl"
      - "go.mod"
      - "go.sum"
      - "WORKSPACE"
      - ".github/workflows/build-bazel.yaml"
jobs:
  build:
    name: Build Tadoku
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel

      - name: Build
        run: bazel build //...

      - name: Run tests
        run: bazel test //...

  publish:
    name: Publish Tadoku Images
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel

      - name: Push images
        run: |
          # Setup credentials for GitHub packages
          mkdir /tmp/docker
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u tadoku --password-stdin
          cp /home/runner/.docker/config.json /tmp/docker/config.json

          # Push images
          bazel run //services/identity-api/cmd/server:image_push
          bazel run //services/tadoku-contest-api/cmd/migrate:image_push
          bazel run //services/tadoku-contest-api/cmd/server:image_push
          bazel run //services/blog-api:image_push
          bazel run //services/redirect-naked-domain:image_push
